<div class="container mt-5">
    <div class="d-flex flex-row justify-content-between">
        <h1><%= @article.title %></h1>
        <div class="d-flex flex-row align-self-center">
            <h1 class="align-self-center m-auto">
                <%= link_to edit_article_path(@article), class: "text-secondary text-decoration-none" do %>
                    <%= fa_icon "edit" %>
                <% end %>
            </h1>

            <h1 class="align-self-center" style="margin-left: 20px">
                <%= link_to article_path(@article),
                    method: :delete,
                    data: { confirm: "Are you sure?" },
                    class: "text-secondary text-decoration-none" do %>

                    <% fa_icon "trash" %>
                <% end %>
            </h1>
        </div>
    </div>
    
    <p class="text-muted"><%= @article.body %></p>

    <h3 style="margin-top: 40px">Comments</h2>
    <%= render 'comment', comments: @article.comments %>

    <h2 style="margin-top: 40px">Add a comment</h2>
    <%= render 'comments/form', article: @article %>
</div>